DATABASE_PATH=./data/trader.sqlite
ADMIN_ID=admin
ADMIN_PASSWORD=admin
REDIS_URL=
MT5_PYTHON=python
MT5_LOGIN=
MT5_PASSWORD=
MT5_SERVER=
MT5_TERMINAL_PATH=
LIVE_TRADING_ENABLED=false
TRADER_SYMBOL=GOLD.i#
MT5_SYMBOL_ALIASES=GOLD.i#,GAUUSD.i#,XAUUSD,XAUUSDm,XAUUSD.,GOLDm
MT5_DEVIATION=20
MT5_MAGIC=250601
MT5_FILLING_MODE=auto
TRADING_TIMEZONE_OFFSET_MINUTES=330
MAINTENANCE_INTERVAL_MS=300000
LOG_MAX_BYTES=5242880
LOG_KEEP_FILES=3
